<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<typeAliases>
  	  	<typeAlias type="com.pj.market.member.MemberDTO" alias="MemberDTO"/>
  	  	<typeAlias type="com.pj.market.notice.NoticeDTO" alias="NoticeDTO"/>
  	  	<typeAlias type="com.pj.market.qna.QnaDTO" alias="QnaDTO"/>
  	  	<typeAlias type="com.pj.market.qna.QnaReply.QnaReplyDTO" alias="QnaReplyDTO"/>
  	  	<typeAlias type="com.pj.market.product.ProductDTO" alias="ProductDTO"/>
  	  	<typeAlias type="com.pj.market.product.ProductFileDTO" alias="ProductFileDTO"/>
  	  	<typeAlias type="com.pj.market.cart.CartDTO" alias="CartDTO"/>
  	  	<typeAlias type="com.pj.market.util.ProductPager" alias="ProductPager"/>
  	  	<typeAlias type="com.pj.market.util.Pager" alias="Pager"/>  	  	
  	  	<typeAlias type="java.lang.Long" alias="Long"/>
  	  	<typeAlias type="java.util.List" alias="List"/>
  	</typeAliases>
  </configuration>
