<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.pj.market.cart.CartDAO">
	<update id="update" parameterType="CartDTO">
		UPDATE CART
		SET COUNT=#{count}
		WHERE PRODUCTNUM = #{productNum} AND ID=#{id}
	</update>
	
	<delete id="delete" parameterType="CartDTO">
		DELETE FROM CART
		WHERE CARTNUM=#{cartNum}
	</delete>

	<insert id="add" parameterType="CartDTO">
		<selectKey keyProperty="cartNum" order="BEFORE" resultType="Long">
    		SELECT LAST_INSERT_ID()
    	</selectKey>
		INSERT INTO CART (CARTNUM, PRODUCTNUM, ID, COUNT)
		VALUES(#{cartNum}, #{productNum}, #{id}, #{count})
	</insert>
	
	<select id="list" resultType="CartDTO" parameterType="CartDTO">
		SELECT m.ADDRESS , m.ID , p.PRODUCTNAME , p.PRODUCTNUM , p.PRODUCTPRICE, c.CARTNUM, c.COUNT, p.PRODUCTPRICE *c.COUNT totalPrice
			FROM MEMBER1 m , PRODUCT1 p , CART c
			WHERE m.ID = c.ID and p.PRODUCTNUM =c.PRODUCTNUM 
	</select>
</mapper>