<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.pj.market.notice.NoticeDAO">
    
    <select id="list" resultType="NoticeDTO">
		SELECT * FROM NOTICE1
	</select>
	
	<select id="detail" resultType="NoticeDTO">
		SELECT * FROM NOTICE1 WHERE NUM = #{num}
	</select>
	
	<insert id="add" parameterType="NoticeDTO">
	INSERT INTO NOTICE1
	VALUES (NOTICE1_SEQ.NEXTVAL, #{title}, #{id}, SYSDATE, #{contents})
	</insert>
	
	<delete id="delete" parameterType="NoticeDTO">
	DELETE NOTICE1 WHERE NUM = #{num}
	</delete>
	
	<update id="update" parameterType="NoticeDTO">
	UPDATE NOTICE1 SET TITLE=#{title}, CONTENTS=#{contents}
	WHERE NUM= #{num}
	</update>
	
    </mapper>