<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.pj.market.product.ProductDAO">
    	<delete id="fileDelete" parameterType="ProductFileDTO">
 			DELETE PRODUCTFILE WHERE
			FILENUM = #{fileNum}
    	</delete>
    	
    	<select id="listFile" parameterType="ProductDTO" resultType="ProductFileDTO">
    		SELECT * FROM PRODUCTFILE
    		WHERE PRODUCTNUM = #{productNum}
    	</select>
    	
    	<!-- 상품 업데이트 -->
    	<update id="update" parameterType="ProductDTO">
    		UPDATE PRODUCT1 
    		SET PRODUCTNAME=#{productName}, PRODUCTPRICE=#{productPrice}, PRODUCTDETAIL=#{productDetail}, PRODUCTCOUNT=#{productCount}, SALES=#{sales}, CATEGORY=#{category}
    		WHERE PRODUCTNUM=#{productNum}
    	</update>
    	
    	<!-- 상품 사진 추가 -->
    	<insert id="addFile" parameterType="ProductFileDTO">
    		INSERT INTO PRODUCTFILE (PRODUCTNUM, FILENAME, ORINAME) 
    		VALUES
    		(#{productNum}, #{fileName}, #{oriName})
    	</insert>
    	
    	<!-- 상품 추가 -->
        <insert id="add" parameterType="ProductDTO">
            <selectKey keyProperty="productNum" order="BEFORE" resultType="Long">
    			SELECT LAST_INSERT_ID()
    		</selectKey>
    		INSERT INTO PRODUCT1 (PRODUCTNUM, PRODUCTNAME, PRODUCTPRICE, PRODUCTDETAIL, CATEGORY, PRODUCTCOUNT, SALES)
    		VALUES 
    		(#{productNum}, #{productName}, #{productPrice}, #{productDetail}, #{category}, #{productCount}, #{sales})
    	</insert>

    	<delete id="delete" parameterType="ProductDTO">
    		DELETE PRODUCT1 WHERE PRODUCTNUM = #{productNum}
    	</delete>
    	
    	<select id="detail" parameterType="ProductDTO" resultMap="detailResult">
    		SELECT P.*, PF.*
			FROM 
				PRODUCT1 P
    				LEFT OUTER JOIN
    			PRODUCTFILE PF
    			ON P.PRODUCTNUM = PF.PRODUCTNUM
    		WHERE P.PRODUCTNUM = #{productNum}
    	</select>
    	
    	<resultMap type="ProductDTO" id="detailResult">
    		<id column="productNum" property="productNum"/>
    		<result column="productName" property="productName"/>
    		<result column="productPrice" property="productPrice"/>
    		<result column="productDetail" property="productDetail"/>
    		<result column="category" property="category"/>
    		<collection property="fileDTOs" javaType="List" ofType="ProductFileDTO">
    			<id column="fileNum" property="fileNum"/>
    			<result column="fileName" property="fileName"/>
    			<result column="oriName" property="oriName"/>
    		</collection>
    	</resultMap>
        
        <select id="total" resultType="Long" parameterType="ProductPager">
        	select count(no) from product
        	where no>0 
    		and proname like '%' || #{search} || '%' 
        </select>
			
    	<select id="list" parameterType="ProductPager" resultMap="detailResult">
    		SELECT * FROM 
    			(select rownum R, P.* From
    				(select * from 
    					(select *
    					from product p1
    						left outer join
    					productfile pf
    					using (no)
    					)
	    				where no>0
	    				and
	    				proname like '%' || #{search} || '%' 
	    				ORDER BY NO DESC
    				) P
    			)
    		where R between #{startRow} and #{lastRow} 
	    			<choose>
	    				<when test="category==1">
	    					and category =1
	    				</when>
	    				<when test="category==2">
	    					and category =2
	    				</when>
	    				<when test="category==3">
	    					and category =3
	    				</when>
	    			</choose>
		     		
    	</select>
    </mapper>